# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.venv/
__pycache__/
*.pyc
services/cutout/.venv/
# Environment & secrets
.env
*.env
credentials.json
service-key.json

# OS / Editor
.DS_Store
.vscode/

# Firebase legacy junk
firebase webapp/**/node_modules/
firebase webapp/**/.git/
firebase webapp/**/credentials/

# Build / cache
dist/
build/
